.container {
  border: 2px solid red;
  font-size: 0;
}
.container .item {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 10px;

  /* 왼쪽에서 오른쪽으로 수평 정렬 */
  /* 가로 세로 값을 가질 수 없음 */
  /* 따라서 레이아웃 구조를 만들 수 없음 */
  display: inline;
  /* 블록요소는 위에서 부터 아래로 쌓이는 형태 */
  /* 인라인의 기본적 특성을 가지지만, 가로 세로 값을 가지며
  p,m 값 사용 가능.
  하지만, 기본 베이스가 인라인 요소이기 때문에,
  띄어쓰기 들이 기본적으로 들어감. (요소 하나하나 마다의 띄어쓰기가 들어가 있음)
  (인라인 요소는 텍스트를 다루는 데 특화되어 있음)
  해당 문제를 해결하기 위하여 container 영역에 fontSize: 0으로 주면,
  띄어쓰기가 사라지며 정상적인 수평요소로 보인다.
  */
  display: inline-block;
  /* 아이템 부분에 폰트를 먹이려면, 
    다시 아이템 영역에 폰트 사이즈를 정해줘야 함
  */
  font-size: 16px;
}
