.container {
  border: 4px solid;
  display: flex;
  justify-content: flex-start;
  /* 기본 값. 왼쪽 정렬*/
  justify-content: flex-end;
  /* 오른쪽 정렬*/
  justify-content: center;
  /* 가운데 정렬*/
  justify-content: space-between;
  /* 첫번째와 마지막 아이템 양 끝 정렬 후
    나머지 여백 균등하게 정렬
  */
  justify-content: space-around;
  /*
    각 각의 아이템들이 남아있는 여백을
    왼쪽과 오른쪽의 여백으로 균등하게 가져가서
    분배
  */
  justify-content: space-evenly;
  /*
    전체 영역에 동일한 공백을 생성
  */
}
.container .item {
  width: 100px;
  height: 100px;
  background: tomato;
  border: 4px dashed red;
  border-radius: 10px;
}
